@import 'component';
@import 'reset';

body {
    background-color: $gray;
}

.display-window {
    max-width: 35rem;
    height: 20rem;
    position: relative;
    padding: 1rem 1rem 2.5rem 1rem;

    &__nav {
        height: 1.3em;
        padding-left: .4rem;
        background-color: $beige;
        border-radius: .5rem .5rem 0 0;

        .circle {
            margin-left: .4rem;
            width: .8rem;
            vertical-align: middle;
        }
    }

    &__body {
        height: calc(100% - 1.3em);
        background-color: $dark-gray;
        border-radius: 0 0 .5rem .5rem;
        position: relative;
        padding: .5rem;
        overflow-y: hidden;

        .phrase-display {
            position: absolute;
            bottom: .5rem;

            p {
                font-family: $overpass;
                color: #ffffff;
                font-size: .8rem;
                vertical-align: bottom;

                &::before {
                    content: '> ';
                }
            }
        }
    }
}

.buttons {
    text-align: center;

    button {
        background-color: $beige;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        box-shadow: 0 4px #888581;
        margin: 0 .75rem;

        &:active {
            box-shadow: none;
        }

        img {
            width: 50%;
        }
    }
}

.copy-text {
    font-family: $overpass;
    font-size: .8rem;
    margin-top: 1rem;
    color: #ffffff;
    text-align: center;
    opacity: 0;
    transition: opacity .2s;

    &.copied {
        opacity: 1;
    }
}

.settings {
    &__words {
        text-align: center;
        font-family: $overpass;
        color: $light-gray;

        p {
            color: #ffffff;
        }

        input[type="radio"] {
            display:none;

            &:checked + label {
                color: #ffffff;
                font-weight: 700;
            }

            label {
                cursor: pointer;
            }
        }

        label {
            padding: 0 .25rem;
        }
    }

    &__includes {
        margin: 1rem 0 0 30%;

        input {
            vertical-align: text-bottom;
            -webkit-appearance: none;
            width: .7rem;
            height: .7rem;
            border: 1px solid #ffffff;

            &:checked {
                background-color: #ffffff;
            }

            &:focus {
                outline: none;
            }
        }

        label {
            font-family: $overpass;
            color: #ffffff;
            font-size: .8rem;
            margin-left: .2rem;
        }
    }
}

.info-modal {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    margin-top: 6rem;

    .info & {
        display: block;
    }

    h2 {
        font-family: $overpass;
        font-size: 1.8rem;
        color: #ffffff;
        text-align: center;
    }

    .quote-container {
        position: relative;

        blockquote {
            font-family: $overpass;
            color: $light-gray;
            font-size: .9rem;
            max-width: 30rem;
            margin: 2rem 4rem 1rem 4rem;

            b {
                color: #ffffff;
            }

            a {
                color: #ffffff;

                &:visited {
                    color: #ffffff;
                }
            }
        }

        cite {
            font-family: $overpass;
            color: $light-gray;
            font-size: .9rem;
            display: block;
            position: absolute;
            right: 0;
            margin-right: 15%;

            a {
                text-decoration: none;

                &:visited {
                    color: $light-gray;
                }
            }
        }
    }

    .credits {
        margin-top: 5rem;
        text-align: center;
        font-family: $overpass;
        color: $light-gray;
        font-size: .8rem;

        svg {
            height: 1rem;
            vertical-align: sub;
        }

        a {
            color: #ffffff;
        }
    }

    .info-close {
        background-color: $beige;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        box-shadow: 0 4px #888581;
        margin: 0 auto;

        &:active {
            box-shadow: none;
        }

        img {
            width: 50%;
        }
    }
}

.modal-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $gray;
    z-index: 99;
    display: none;
    transition: display 1s;

    .info & {
        display: block;
    }
}
